$containerWidth: 910px;
$baseFontSize: 16px;
@mixin  sectionTitle {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
}

//colors
$red: #E01F3D;

//normalize
@import url('./layouts/normalize.css');

//fonts 
@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');
  font-family: 'Alegreya Sans', sans-serif;
}
@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
  font-family:  'Play', sans-serif;
}

@import "layouts/layout";
@import "components/hero";
@import "components/header";
@import "components/nav";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/why";
@import "components/advantages";
@import "components/advantage";
@import "components/section";
@import "components/reviews";



