@import url("./layouts/normalize.css");
@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap");
  font-family: "Alegreya Sans", sans-serif;
}
@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
  font-family: "Play", sans-serif;
}
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Play", sans-serif;
  background: #fff;
  line-height: 1.42;
  font-size: 1rem;
  color: #292929;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.body__scroll {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 56.875rem;
  position: relative;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

footer {
  position: relative;
  width: 100%;
}

.hero {
  background: url("../images/hero/beats.png") left 80% center no-repeat;
  background-color: #f5f5f5;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background: none;
    background-color: #f5f5f5;
  }
}
.hero:before {
  content: url("../images/decor/Rectangle.png");
  position: absolute;
  bottom: -1.875rem;
  left: 80%;
}
.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0 3.25rem;
}
.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__title-section:before {
    content: url(../images/hero/beats-tablets.png);
  }
}
.hero__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .hero__title {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 2rem;
  }
}
.hero__title-desc {
  font-size: 1.313rem;
  font-family: "Alegreya Sans";
  margin-bottom: 2.25rem;
  padding-right: 20%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 15%;
  }
}
@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone-number {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.phone-number__icon {
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number__icon--elem {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.375rem;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: flex;
  align-items: center;
  margin: 0 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}
.nav__item {
  margin-right: 1.688rem;
  margin-bottom: 10px;
}

.nav--full {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav--full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: #313131;
    color: #fff;
    display: none;
    justify-content: center;
    text-align: center;
  }
}
.nav--full__list {
  font-size: 2.25rem;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav--full__active {
  display: flex;
}

.hamburger {
  width: 26px;
  height: 24px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.hamburger__active span {
  background: #fff;
}
.hamburger__active span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 0px);
  transform-origin: left top;
}
.hamburger__active span:nth-child(2) {
  transform: scale(0);
}
.hamburger__active span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
  transform-origin: right bottom;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
    position: absolute;
    right: 2.625rem;
    top: 2.625rem;
    z-index: 2000;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
  transition: all 0.2s;
}

.features {
  display: flex;
}
.features__item {
  margin-right: 1.25rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}
.feature__icon-elem {
  width: 2.5rem;
  height: 2.5rem;
}

.feature__icon {
  width: 2.1875rem;
  margin-right: 0.625rem;
}

.feature__text {
  max-width: 7.125rem;
}

.btn {
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.125rem 2.5625rem;
  line-height: 1;
  border-radius: 6.25rem;
  border: none;
  cursor: pointer;
  display: inline-block;
}
.btn--theme--red {
  background: #E01F3D;
  color: #ffffff;
}
.btn--theme--red:hover {
  background: #fff;
  color: #E01F3D;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  font-weight: normal;
}
.btn--theme--transparent:hover {
  background: #E01F3D;
}

.btn__close {
  position: absolute;
  top: 20px;
  right: 25px;
  display: flex;
  flex-direction: column;
}
.btn__close:nth-child(1) {
  transform: rotate(45deg) translate(10px, 0px);
  transform-origin: left top;
}
.btn__close:nth-child(2) {
  transform: rotate(-45deg) translate(10px, -10px);
  transform-origin: left top;
}
.btn__close-plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
  transition: all 0.2s;
  width: 15px;
}

.why {
  position: relative;
  z-index: 5;
}
.why:before {
  content: url("../images/decor/triangle.png");
  position: absolute;
  bottom: -0.938rem;
  right: 85%;
  width: 2.125rem;
  height: 2.125rem;
}
.why__container {
  height: 100%;
  padding: 6.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.why__title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3.75rem;
}
.why__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.125rem;
}
.why__subtitle {
  color: #666;
  padding: 0 20%;
}
@media screen and (max-width: 480px) {
  .why__subtitle {
    padding: 0 5%;
  }
}

.advantages__list {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 480px) {
  .advantages__list {
    flex-direction: column;
  }
}

.advantages__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .advantages__item {
    padding: 0;
    margin-bottom: 1.5rem;
  }
}
.advantages__item:before {
  content: url("../images/why/separator.png");
  position: absolute;
  top: 3.125rem;
  right: 0px;
  transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .advantages__item:before {
    display: none;
  }
}
.advantages__item:first-child {
  padding-left: 0;
}
.advantages__item:last-child {
  padding-right: 0;
}
.advantages__item:last-child:before {
  display: none;
}

.advantage {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .advantage {
    flex-direction: row;
    text-align: left;
    justify-content: center;
  }
}
.advantage__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.advantage__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0.4375rem;
}
.advantage__desc {
  color: #666;
}

.advantage__icon {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 480px) {
  .advantage__icon {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}
.advantage__icon-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
.advantage__icon-elem {
  height: 3.75rem;
  width: 3.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 40.625rem;
  justify-content: center;
  position: relative;
}

.reviews-section {
  position: relative;
  z-index: 1;
}
.reviews-section:before {
  content: url("../images/decor/circle.png");
  position: absolute;
  bottom: -1.063rem;
  right: 83%;
}
.reviews-section__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
}

.reviews__list {
  position: relative;
  min-height: 16.25rem;
}
@media screen and (max-width: 768px) {
  .reviews__list {
    min-height: 26.25rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__list {
    min-height: 28.125rem;
  }
}
.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.3s;
}
.reviews__item--active {
  opacity: 1;
}
.reviews__switcher {
  display: flex;
  justify-content: center;
}
.reviews-section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reviews__display {
  background: #F8FAF9;
  padding: 2.625rem;
  margin-bottom: 0.938rem;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    margin-bottom: 2rem;
    padding: 4rem 2rem 2rem;
  }
}
.reviews__display:before {
  content: "";
  width: 5.188rem;
  height: 5.188rem;
  display: block;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -3.813rem;
}
.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.reviews__avatar {
  width: 15.813rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
    margin-bottom: 3rem;
  }
}
.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 2.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}
.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1.688rem;
}
.reviews__text {
  color: #666;
  margin-bottom: 2.375rem;
}
.reviews__author {
  font-size: 1.125rem;
  font-weight: 700;
}

.interactive-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}
.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}
.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order {
  background: url("../images/decor/background-form.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.order__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 3.125rem;
}
@media screen and (max-width: 480px) {
  .order__title {
    font-size: 2rem;
  }
}
.order__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 0 3.25rem;
  padding-top: 4.25rem;
}

.form {
  display: flex;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 20%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}
.form__col {
  flex: 1;
  margin-right: 1.6875rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__row {
  display: flex;
  margin-bottom: 0.6875rem;
}
.form__block {
  flex: 1;
  margin-right: 0.8125rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__input {
  width: 100%;
  border: 0.188rem solid transparent;
  padding: 1.125rem 0.75rem;
  border-radius: 0.25rem;
}
.form__input--textarea {
  height: 9.438rem;
  resize: none;
  margin-bottom: 1.875rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
}
.form__controls--checkbox {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .form__btns {
    display: flex;
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 0.938rem;
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  content: "";
  background: url("../images/decor/tick.png") center center no-repeat;
}
.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}
.radio__visible {
  width: 1.563rem;
  height: 1.563rem;
  border-radius: 50%;
  position: relative;
  background: #fff;
  margin-right: 0.625rem;
}
.radio__visible:before {
  content: "";
  width: 0.813rem;
  height: 0.813rem;
  background: #E01F3D;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: none;
}

.contacts {
  position: relative;
}
.contacts__map {
  height: 100%;
  padding-bottom: 5.375rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .contacts__map {
    padding-bottom: 6.5625rem;
  }
}
@media screen and (max-width: 480px) {
  .contacts__map {
    padding-bottom: 9.375rem;
  }
}
.contacts__map-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.contacts__info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .contacts__info {
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.contacts__address {
  font-size: 1.125rem;
  font-style: normal;
}
@media screen and (max-width: 480px) {
  .contacts__address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
}
.socials__item {
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0cd;
}
.socials__link {
  display: block;
  background: center center no-repeat;
  width: 36px;
  height: 36px;
}

.socials__item-icon-vk .socials__link {
  background: url("../images/socials/sprite-socials.png") -66px -122px;
}
.socials__item-icon-vk .socials__link:hover {
  background: url("../images/socials/sprite-socials.png") -10px -122px;
}

.socials__item-icon-f .socials__link {
  background: url("../images/socials/sprite-socials.png") -66px -10px;
}
.socials__item-icon-f .socials__link:hover {
  background: url("../images/socials/sprite-socials.png") -10px -10px;
}

.socials__item-icon-in .socials__link {
  background: url("../images/socials/sprite-socials.png") -66px -66px;
}
.socials__item-icon-in .socials__link:hover {
  background: url("../images/socials/sprite-socials.png") -10px -66px;
}

.socials__item-icon-tg .socials__link {
  background: url("../images/socials/sprite-socials.png") -122px -66px;
}
.socials__item-icon-tg .socials__link:hover {
  background: url("../images/socials/sprite-socials.png") -122px -10px;
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 5%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: 0.4375rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__link {
  height: 1.1875rem;
  width: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  background: #292929;
  width: 0.5625rem;
  height: 0.5625rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 0;
}
.footer__container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.products {
  background: #F8FAF9;
  position: relative;
}
.products__slider {
  position: relative;
  display: flex;
  justify-content: center;
}
.products__slider .bx-wrapper {
  border: none;
  background: transparent;
  box-shadow: none;
}
.products__slider-arrow {
  background: url("../images/products/arrow.svg") center center no-repeat;
  background-size: contain;
  height: 1.6875rem;
  width: 0.84375rem;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .products__slider-arrow {
    top: 25%;
  }
}
@media screen and (max-width: 480px) {
  .products__slider-arrow {
    top: 20%;
  }
}
.products__slider-arrow--prev {
  left: 0;
  transform: translate(-3.125rem, -50%);
}
@media screen and (max-width: 768px) {
  .products__slider-arrow--prev {
    transform: translate(5.625rem, -50%);
  }
}
@media screen and (max-width: 480px) {
  .products__slider-arrow--prev {
    transform: translate(0.625rem, -50%);
  }
}
.products__slider-arrow--next {
  right: 0;
  transform: rotate(-180deg) translate(-3.125rem, 50%);
}
@media screen and (max-width: 768px) {
  .products__slider-arrow--next {
    transform: rotate(-180deg) translate(5.625rem, 50%);
  }
}
@media screen and (max-width: 480px) {
  .products__slider-arrow--next {
    transform: rotate(-180deg) translate(0.625rem, 50%);
  }
}
.products__container {
  display: flex;
  align-items: center;
}

.product__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.25rem;
  text-align: left;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .product__title {
    font-size: 1.75rem;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .product__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.product__text {
  color: #666;
  padding-right: 15%;
  margin-bottom: 27px;
}
@media screen and (max-width: 768px) {
  .product__text {
    padding: 0 5%;
    text-align: center;
  }
}
.product__chars {
  display: flex;
  padding-right: 40%;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.product__chars-name {
  color: #666;
}
.product__chars-value {
  font-size: 1.125rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .product__chars {
    padding: 0;
    width: 30%;
  }
}
@media screen and (max-width: 480px) {
  .product__chars {
    width: 60%;
  }
}
.product__order {
  display: flex;
  padding-right: 20%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .product__order {
    padding: 0;
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
  .product__order {
    width: 75%;
  }
}
.product__price {
  font-size: 2.25rem;
}
@media screen and (max-width: 768px) {
  .product__price {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .product__price {
    font-size: 2rem;
  }
}
.product__container {
  display: flex;
}
@media screen and (max-width: 768px) {
  .product__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.product__container-col {
  width: 47%;
  margin-right: 3.6875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product__container-col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .product__container-col {
    margin-right: 0;
    margin-bottom: 3.125rem;
  }
  .product__container-col:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .product__container-col--right {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .product__container-col {
    margin-bottom: 1.5625rem;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5625rem;
  cursor: pointer;
}
.dropdown:hover .dropdown__chars {
  opacity: 80%;
  right: 14%;
}
.dropdown__icon {
  width: 5.6875rem;
  height: 5.6875rem;
  background: #9a9a9a;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.dropdown__icon-link {
  display: block;
}
.dropdown__icon-elem {
  width: 2.625rem;
  height: 2.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dropdown__chars {
  position: absolute;
  width: 17.0625rem;
  height: 18.375rem;
  background: #fff;
  top: 0%;
  right: -9999px;
  padding: 1.75rem;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.5s;
}
@media screen and (max-width: 768px) {
  .dropdown {
    display: none;
  }
}

.chars__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100%;
}

.chars__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.char__name {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.char__name-img {
  height: 2rem;
  width: 2rem;
}

.team:before {
  content: url("../images/team/Rectangle.png");
  position: absolute;
  top: -1rem;
  right: 15%;
}
.team__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.125rem;
}
.team__member {
  margin-right: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.team__member:last-child {
  margin-right: 0;
}
.team__member-content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}
.team__member-img {
  width: 13.75rem;
  height: 18.125rem;
  margin-bottom: 1.5625rem;
}
.team__member-name {
  font-size: 18px;
  font-weight: 700;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin-bottom: 0.6875rem;
}
.team__member-name:after {
  content: url("../images/team/triangle-down.png");
  height: 0.5625rem;
  width: 0.5625rem;
  margin-left: 0.25rem;
}
.team__member-text {
  color: #666;
}
.team__list {
  display: flex;
}
@media screen and (max-width: 768px) {
  .team__list--desktop {
    display: none;
  }
}
.team__list--tablets {
  display: none;
}
@media screen and (max-width: 768px) {
  .team__list--tablets {
    display: flex;
    flex-direction: column;
  }
}

.team__member.active .team__member-name:after {
  content: url("../images/team/triangle-up.png");
  height: 0.5625rem;
  width: 0.5625rem;
  margin-left: 0.25rem;
}

.team__list--desktop .team__member-content {
  position: absolute;
  top: 100%;
}

.team__list--tablets .team__member-content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team__list--tablets .team__member-text {
  padding: 0 20%;
}

.modal {
  display: none;
  background: #666;
}
.modal__container {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.1875rem 3.4375rem;
}
.modal__content {
  font-size: 1.125rem;
  margin-bottom: 1.125rem;
}

.input-error {
  border-color: hotpink;
}

.error-modal {
  color: red;
}

.colors {
  display: flex;
  position: relative;
  justify-content: initial;
  background: url("../images/colors/background.jpg") center center no-repeat;
  background-size: cover;
}
.colors__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-align: left;
  padding-top: 6.875rem;
  padding-left: 5rem;
}
.colors__list {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.colors__item {
  display: flex;
}

.color {
  position: relative;
}
.color__title-wrapper {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100px;
  position: relative;
  cursor: pointer;
}
.color__title-wrapper--grey {
  background: #666;
}
.color__title-wrapper--red {
  background: #E01F3D;
}
.color__title-wrapper--black {
  background: #151515;
}
.color__title {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  font-family: "Alegreya Sans", sans-serif;
  transform: rotate(270deg);
  white-space: nowrap;
  align-self: center;
  padding-right: 12.5rem;
}
.color__content {
  background: rgba(51, 53, 55, 0.9);
  color: #fff;
  font-family: "Alegreya Sans", sans-serif;
  width: 0;
  overflow: hidden;
  transition: width 0.5s;
  position: relative;
}
.color__content-block {
  padding: 1.9375rem 2.375rem;
}