//variables
$baseFontSize: 16px;
$containerWidth: 56.875rem;

//mixins
@mixin  sectionTitle {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
}

//breakpoints
$tablets: 768px;
$phones: 480px;

//z-indexes
$z-arrow: 10;
$z-fixed-menu: 100;
$z-nav-full: 1000;
$z-hamburger: 2000;

//colors
$red: #E01F3D;

//media 
@import "layouts/media";

//normalize
@import url('./layouts/normalize.css');

//fonts 
@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');
  font-family: 'Alegreya Sans', sans-serif;
}
@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
  font-family:  'Play', sans-serif;
}


@import "layouts/layout";
@import "components/hero";
@import "components/header";
@import "components/nav";
@import "components/hamburger";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/why";
@import "components/advantages";
@import "components/advantage";
@import "components/section";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/order";
@import "components/form";
@import "components/radio";
@import "components/contacts";
@import "components/socials";
@import "components/fixed-menu";
@import "components/footer";
@import "components/products";
@import "components/product";
@import "components/dropdown";
@import "components/chars";
@import "components/char";
@import "components/team";





