.feature {
  display: flex;

  &__icon-elem {
    width: rem(40px);
    height: rem(40px);
  }
}

.feature__icon {
   width: 2.1875rem;
   margin-right: 0.625rem; 
}

.feature__text {
  max-width: 7.125rem;
}

