html {
  font-size: $baseFontSize;

 @include tablets {
   font-size: $baseFontSize - 1px;
 }

 @include phones {
   font-size: $baseFontSize - 2px;
 }

}

html, body {
  height: 100%;
}

body {
  font-family: 'Play', sans-serif;
  background: #fff;
  line-height: 1.42;
  font-size: 1rem;
  color: #292929;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.body__scroll {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.maincontent {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: $containerWidth;
  position: relative;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

footer {
  position: relative;
  width: 100%;
}