html {
  font-size: $baseFontSize;

  @media (max-width: 992px) {
      font-size: 14px;
  }
  @media (max-width: 768px) {
    font-size: 13px;
  }
  @media (max-width: 480px) {
    font-size: 12px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: 'Play', sans-serif;
  background: #fff;
  line-height: 1.42;
  font-size: 1rem;
  color: #292929;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  min-width: 0;
  position: relative;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: $containerWidth;
  position: relative;

  @media (max-width: 992px) {
    max-width: 700px;
  }
  @media (max-width: 768px) {
    max-width: 450px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

footer {
  position: relative;
  width: 100%;
}