.btn {
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.125rem 2.5625rem;
  line-height: 1;
  border-radius: 6.25rem;
  border: none;
  cursor: pointer;
  display: inline-block;

  &--theme--red {
    background: $red;
    color: #ffffff;

    &:hover {
      background: #fff;
      color: $red;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #fff;
    text-transform: none;
    font-weight: normal;

    &:hover {
      background: $red;
    }
  }
}


.btn__close {

  position: absolute;
  top: 20px;
  right: 25px;
  // background: transparent;
  display: flex;
  flex-direction: column;
  &:nth-child(1) {
    transform: rotate(45deg) translate(10px, 0px) ;
    transform-origin: left top;
  }
  &:nth-child(2) {
    transform: rotate(-45deg) translate(10px, -10px) ;
    transform-origin: left top;
  }
  
  &-plank {
    display: block;
    background: #fff;
    height: 4px;  
    border-radius: 10px;
    transition: all 0.2s;
    width: 15px;
  }
}