.fixed-menu {
  position: fixed;
  top: 30%;
  right: 5%;
  z-index: $z-fixed-menu;
  &__item {
    margin-bottom: 7px;

    &--active {
      .fixed-menu__link {
        border-color: $red;
      }
    }
  }

  &__link {
    height: 19px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    position: relative;

    &:before {
      content: "";
      background: #292929;
      width: 9px;
      height: 9px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%,-50%);
    }
  }
}