.form {
  display: flex;
  color: #FFFFFF;
  @include tablets {
  flex-direction: column;
  padding: 0 20%;
  }

  &__col {
    flex: 1;
    margin-right: 1.6875rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 0.6875rem;
  }

  &__block {
    flex: 1;
    margin-right: 0.8125rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    width: 100%;
    border: 0.188rem solid transparent;
    padding: 1.125rem 0.75rem;
    border-radius: 0.25rem;

    &--textarea {
      height: 9.438rem;
      resize: none;
      margin-bottom: 1.875rem;
    }

    &:focus {
      border-color: $red;
      outline: none;
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.25rem;

    &:last-child {
      margin-bottom: 2.813rem;
    }
  }

}