.hamburger {
  width: 26px;
  height: 24px;
  flex-direction: column;
  justify-content: space-between;
  display: none;

  @include tablets {
    display: inline-flex;
  }

}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;  
  border-radius: 10px;
}