.hamburger {
  width: 26px;
  height: 24px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  &__active span {
    background: #fff;
    &:nth-child(1) {
      transform: rotate(45deg) translate(10px, 0px) ;
      transform-origin: left top;
    }
    &:nth-child(2) {
      transform: scale(0);
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translate(10px, -10px);
      transform-origin: right bottom;
    }
  }

  @include tablets {
    display: inline-flex;
    position: absolute;
    right: rem(42px);
    top: rem(42px);
    z-index: $z-hamburger;
  }

}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;  
  border-radius: 10px;
  transition: all 0.2s;
}