.hero {
  background: url("../images/hero/beats.png") left 80% center no-repeat;
  background-color: #f5f5f5;
  position: relative;
}
.hero:before {
  content: url("../images/decor/Rectangle.png");
  position: absolute;
  bottom: -40px;
  left: 80%;
}
.hero__container {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0 52px;
}
.hero__title-section {
  width: 46%;
}
.hero__title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.hero__title-desc {
  font-size: 21px;
  font-family: "Alegreya Sans";
  margin-bottom: 36px;
  padding-right: 20%;
}