.nav {

  @include tablets {
    display: none;
   }
   
  &__list {
    display: flex;
    align-items: center;
    margin: 0 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
  
  &__item {
    margin-right: 1.688rem;
    margin-bottom: 10px;
  }
}

.nav--full {
    display: none;
    @include tablets {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-nav-full;
    background: #313131;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__list {
    font-size: rem(36px);
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}