.nav {
  &__list {
    display: flex;
    align-items: center;
    @media (max-width: 480px) {
    flex-direction: column;
    }
  }
  
  &__item {
    margin-right: 1.688rem;

    @media (max-width: 992px) {
      margin-right: 1.1rem;
    }
    @media (max-width: 768px) {
      margin-right: 1.2rem;
    
    }
    @media (max-width: 480px) {
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

   @media (max-width: 992px) {
      font-size: 1.143rem;
    }
    @media (max-width: 768px) {
      font-size: 1.231rem;
    
    }
    @media (max-width: 480px) {
      font-size: 1.5rem;
    }
  }
