.order {
  background: url("../images/decor/background-form.jpg") center center no-repeat;
  background-size: 100%, 100%;

  &__title {
    @include sectionTitle;
    color: #fff;
    margin-bottom: 3.125rem;
  }
}