.player {

  
  position: relative;
  width: 100%;
  height: 100%;
  display: block;

  &-section {
    padding: rem(58px) 0;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    width: rem(660px);
    min-height: rem(400px);
    display: flex;
    justify-content: center;
  }

  &__title {
    @include sectionTitle;
    margin-bottom: rem(44px);
  }
  
  &__splash {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../images/player/Pharell.png') center center/cover no-repeat;
    cursor: pointer ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.active .player__splash {
    display: none;
  }

  &__controls {
    position: absolute;
    height: rem(35px);
    bottom: 0;
    left: 0;
    right: 0;
    background: #151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(16px);
  }

  &__start {
    border: 10px solid #151515;
    border-left-color: #fff;
    border-right-width: 0;
    position: absolute;
    cursor: pointer;
  }
  
  &.paused {
    .player__start {
      width: rem(12px);
      height: rem(16px);
      border: none;
      background: none;
      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        background: #fff;
        width: 4px;
      } 
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
  }

  &__playback {
    height: rem(4px);
    width: rem(440px);
    background: #333;
    position: relative;
    margin-left: rem(50px);
    cursor: pointer;

    &-line {
      position: relative;
      background: $red;
      width: 0;
      height: 100%;
    }
    &-button {
      position: absolute;
      width: rem(15px);
      height: rem(15px);
      border-radius: 50%;
      background: $red;
      right: 0%;
      top: -100%;
    }
  }

  &__volume {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: rem(80px);
    &-icon {
      cursor: pointer;
    }

    &-playback {
      height: rem(5px);
      width: rem(50px);
      background: #333;
      position: relative;
      cursor: pointer;

      &-line {
        position: relative;
        background: $red;
        height: 100%;
        width: 50%;
      }
      &-button {
        position: absolute;
        width: rem(12px);
        height: rem(12px);
        border-radius: 50%;
        background: $red;
        top: -80%;
        right: -10%;
      }
    }  
  }
  &__duration {
    color: #fff;
  }
}