.reviews-section {
position: relative;
z-index: 1;

&:before {
  content: url("../images/decor/circle.png");
  position: absolute;
  bottom: -1.063rem;
  right: 83%;
}

  &__title {
    @include sectionTitle;
  }
}

.reviews {
  &__switcher {
    display: flex;
    justify-content: center;
  }

  &-section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__display {
    background: #F8FAF9;
    padding: 2.625rem;
    margin-bottom: 0.938rem;
    position: relative;
    overflow: hidden;

    @include tablets {
      margin-bottom: 2rem;
      padding: 4rem 2rem 2rem;

    }

    &:before {
      content: "";
      width: 5.188rem;
      height: 5.188rem;
      display: block;
      position: absolute;
      background: #fff;
      border-radius: 50%;
      left: 50%;
      transform: translateX(-50%);
      top: -3.813rem;
    }

    &-inner {
      display: flex;

      @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
    }
  }

  &__avatar {
    width: 15.813rem;
    height: 16.5rem;

    @include tablets {
      width: rem(130px);
      height: rem(130px);
      margin-bottom: 3rem;
    }
  }

  &__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-left: 2.5rem;

    @include tablets {
      margin-left: 0;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 1.688rem;
  }

  &__text {
    color: #666;
    margin-bottom: 2.375rem;
  }

  &__author {
    font-size: 1.125rem;
    font-weight: 700;

  }
}